@{
	ViewData["Title"] = "Error";
}
<div class="row">
	<div class="col-3"></div>
	<div class="col-6">
		<br>
		<div class="row">
			<div class="col-10">
				<img src="https://cdn.dribbble.com/users/576558/screenshots/3801660/media/5a3848aa0854d0d0fb01e2ad948cc09f.png?resize=400x300&vertical=center" alt="Alternative image" class="img-thumbnail" width="700" height="700">
				<div class="text-left h4">
					<p>We looked everywhere for this page.</p>
					<p>Are you sure the website URL is correct?</p>
				</div>
				<div class="text-left h4">Try again or go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
			</div>
		</div>
	</div>
	<div class="col-3"></div>
</div>
