@{
	ViewData["Title"] = "Home";
}
<body>
	<h1 style="text-align:center" id="myTop">
		Rent a Car - Find and book your car!
	</h1>
	<h2 style="text-align:right">
		Our Locations
	</h2>
	<p style="text-align:right">
		Rent a Car has offices in all major airports and cities of Bulgaria.
	</p>
	<h3 style="text-align:left">
		Our Reviews
	</h3>
	<p style="text-align:left">
		Here are some of our customers reviews:
	</p>
</body>

